* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

ol {
  list-style: none;
  padding: 10px;
}

li {
  border: 1px solid #ccc;
}

.event-entry {
  box-sizing: border-box;
  padding: 10px;
}

.event-name {
  font-size: 14px;
  font-weight: bold;
}

.event-date {
  font-size: 10px;
  color: #444;
}

.event-snooze {
  background-color: #ef6c00;
  line-height: 50px;
  width: 100%;
}
